In [1]:
import pandas as pd
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [4]:
df=pd.read_csv("Dataset")

In [6]:
header=["Time","Name","Grad Year","Q1","Q2","Q3","Q4","Q5","Q6","Q7","Q8","Q9","Result"]
df.columns=header
df.drop(["Time","Name","Grad Year"],axis=1,inplace=True)
df.head()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Result
0,Yes,Technical,Yes,Bad design,Yes,Yes,Logical,Alone,Yes,Data Sciences(Includes ML and AI)
1,Yes,Technical,Yes,Bad design,No,Yes,Logical,Alone,Yes,Other
2,Maybe,Technical,No,Technical limitations and bugs in the app,Yes,Yes,Creative,Alone,Yes,Back-End Development
3,Yes,Not Sure,Maybe,Technical limitations and bugs in the app,Yes,Maybe,Logical,Alone,Maybe,Back-End Development
4,No,Technical,Yes,Technical limitations and bugs in the app,No,Yes,Logical,Group,Yes,Data Sciences(Includes ML and AI)

In [7]:
enc= preprocessing.LabelEncoder()
df["Q1"]=enc.fit_transform(df["Q1"])
df["Q2"]=enc.fit_transform(df["Q2"])
df["Q3"]=enc.fit_transform(df["Q3"])
df["Q4"]=enc.fit_transform(df["Q4"])
df["Q5"]=enc.fit_transform(df["Q5"])
df["Q6"]=enc.fit_transform(df["Q6"])
df["Q7"]=enc.fit_transform(df["Q7"])
df["Q8"]=enc.fit_transform(df["Q8"])
df["Q9"]=enc.fit_transform(df["Q9"])
df["Result"]=enc.fit_transform(df["Result"])
df.head()

   Q1  Q2  Q3  Q4  Q5  Q6  Q7  Q8  Q9  Result
0   2   2   2   0   2   2   2   0   2       1
1   2   2   2   0   1   2   2   0   2       3
2   0   2   1   2   2   2   1   0   2       0
3   2   1   0   2   2   0   2   0   0       0
4   1   2   2   2   1   2   2   1   2       1

In [8]:
X=df[["Q1","Q2","Q3","Q4","Q5","Q6","Q7","Q8","Q9"]]
Y=df["Result"]

In [9]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=50)
KNN=KNeighborsClassifier(n_neighbors=9)
KNN.fit(X_train,Y_train)
Y_pr=KNN.predict(X_test)
from sklearn import metrics
accuracy=metrics.accuracy_score(Y_test,Y_pr)
accuracy

0.47619047619047616

In [10]:
import pickle
filename = 'finalized_model.bin'
pickle.dump(KNN, open(filename, 'wb'))